.cm-bundle-builder-wrapper {
    width: 98.6vw;
    margin-left: calc(-50vw + 50%);
    padding: 13px;
    overflow-x: hidden;
}

.row-main {
    margin: 10px !important;
    max-width: unset !important;
}

.main-cover {
    background-image: url("/assets/img/porsche_cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.sub-cover-container {
    width: 65%;
    height: 35%;
    background: linear-gradient(90deg, #858585, #363636); 
    font-family: "Poppins", serif;
    padding: 15px !important;
}

.sub-cover-container-heading {
    font-family: "Poppins", serif;
    font-size: 40px;
    color: white;
}

.sub-cover-container-title {
    font-family: "Poppins", serif;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

.sub-cover-container-button {
    background-color: black;
    color: white;
    margin-top: 20px;
}

.product-image-main {
    height: auto;
}

.detail-container-text {
    font-size: 15px;
    margin-top: 30px;
    color: #363636;
    text-align: center;
    font-weight: lighter;
}

.pdp-details {

    padding: 10px;
}

.pdp-name {
    font-size: 60px;
    margin-top: 50px;
}

.pdp-brand {
    font-size: 28px;
    color: #757575;
}

.pdp-msrp {
    font-size: 21px;
}

.pdp-price {
    font-size: 30px; 
}

.pdp-star {
    font-size: 30px;
}

.pdp-button-main {
    // margin-top: 30px;
}

.cart-button {
    background-color: #757575;
    border-radius: 5px;
    color: white;
}

.wish-button {
    border-radius: 5px;
    border: solid 1px #757575;
}

// >>>>>>>>>

.wrapper {
    width: 100%;
    position: relative;

}

.wrapper i {
    height: 50px;
    width: 50px;
    background: rgba(198, 198, 198, 0.708);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25 rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

}

.wrapper i:first-child {
    left: 5px;

}

.wrapper i:last-child {
    right: -12px;

}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 340px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 98%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.05); 
    border: solid 1px #97979733;
    padding: 10px;
}



.card .img img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #fff;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span {
    color: #6a6d78;
    font-size: 1.31rem;
}

.slider-head {
    font-size: 25px;
    font-weight: bold;
}

.related_products_head {
    font-size: 70px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #484848;
    text-align: center;
    text-decoration: underline;
    letter-spacing: -2px; 
    background: linear-gradient(90deg, #686868, #000000); 
    -webkit-background-clip: text; 
    color: transparent; 
    padding: 10px 0; 
}

.related_products_button {
    background-color: #363636;
    height: 36px;
    width: 70px;
    font-size: 12px;
    padding: 0px;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media screen and (max-width: 768px) {
    .main-cover {
        background-image: url(/assets/img/porsche_cover.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 270px;
    }

    .sub-cover-container {
        width: unset;
        height: unset;
    }

    .sub-cover-container-heading {
        font-size: 30px;
    }

    .related_products_head {
        font-size: 40px;
        letter-spacing: -1px;
    }

    .wrapper i:last-child {
        right: -6px;
    }

    .cm-bundle-builder-wrapper {
        width: 98.6vw;
        margin-left: calc(-50vw + 50%);
        overflow-x: hidden;
    }

    .wrapper {
        border-bottom: solid 1px rgb(66, 66, 66);
    }
}


.child-container-image .img img {
    width: 30px;
    height: 40px;
    object-fit: cover;
    border: 4px solid #fff;
}

.child-container-image-row {
    padding: 10px;
}

.child-container-image {
    height: 50px;
    padding: 0px;
    height: 65px;
    border: solid 1px rgba(0, 0, 0, 0.153);
}